/* Fondo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg);
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 42, 0, 0.668);
    pointer-events: none;
    z-index: -1;
}

/* Encabezado */
header {
    color: #ffffff;
    background-color: #004b29;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Contenedor principal */
main {
    padding: 2rem;
}

/* Iconos */
i {
    margin-left: 0.5rem;
    color: #ffffff;
}

/* Títulos */
h2 {
    color: #2dcd84;
    margin-bottom: 1rem;
}

/* Formularios y contenedores */
.form-container, .result-container {
    max-width: 600px;
    margin: auto;
    background: #002f19;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    color: #ffffff;
}

.form-container h2, .result-container h2 {
    margin-bottom: 1rem;
    color: #2dcd84;
}

.form-container label, .result-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.form-container input, .form-container select {
    width: 95%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #006d3b;
    border-radius: 4px;
    background-color: #004b29;
    color: #ffffff;
}

.form-container input::placeholder {
    color: #2dcd84;
}

/* Botones dentro de formularios y contenedores */
.form-container button, .result-container button {
    display: block; 
    margin: 1rem auto;
    width: 30%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #2dcd84;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.form-container button:hover, .result-container button:hover {
    background-color: #006d3b;
    transform: scale(1.04);
}

/* Botón para cerrar resultados */
.result-container button {
    margin-top: 1.5rem;
}

/* Resultados */
.result-container {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #006d3b;
    border-radius: 5px;
    background-color: #004b29;
    color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.result-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: #ffffff;
}

.result-container th, .result-container td {
    border: 1px solid #006d3b;
    padding: 0.75rem;
    text-align: center;
}

.result-container th {
    background-color: #004b29;
    font-weight: bold;
}

.result-container tr:nth-child(even) {
    background-color: #006d3b;
}

.result-container tr:hover {
    background-color: #2dcd84;
    color: black
}

/* Botones de acciones principales */
#acciones-clientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#acciones-clientes button {
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #2dcd84;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#acciones-clientes button:hover {
    background-color: #006d3b;
    transform: scale(1.05);
}

.swal2-popup {
    background-color: #004b29 !important;
    color: #ffffff !important;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.swal2-title {
    color: #2dcd84 !important;
}

.swal2-content {
    color: #ffffff !important;
}

.swal2-confirm {
    background-color: #2dcd84 !important;
    color: #ffffff !important;
    border: none;
    border-radius: 4px;
}

.swal2-cancel {
    background-color: #006d3b !important;
    color: #ffffff !important;
    border: none;
    border-radius: 4px;
}

.swal2-select {
    color: black !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    border-radius: 4px !important;
    font-size: 14px !important;
}

.swal2-confirm:hover {
    background-color: #006d3b !important;
}

.swal2-cancel:hover {
    background-color: #004b29 !important;
}

#grafico-cliente-contenedor {
    text-align: center;
}

#grafico-cliente {
    display: inline-block;
    margin: 0 auto;
}